@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
}

body {
    background: #ffffff;
    overflow-x: hidden;
}

#app {
    width: 100vw;
    min-height: 100vh;
    background: #ffffff;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#chat_container {
    flex: 1;
    width: 100%;
    height: 100%;

    /* display: flex;
    flex-direction: column; */
    display: table-cell;
    vertical-align: bottom;
    gap: 10px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding-bottom: 120px;
    scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100%;
    padding: 15px;
}

.ai {
    background: #009ef7;
}

.ai .message {
    color: white;
}

.chat {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 5px;

    background: #368bda;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ai .profile {
    background: #49d391;
}

.profile img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.message {
    flex: 1;

    color: #000000;
    font-size: 20px;

    max-width: 100%;
    overflow-x: scroll;

    /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
    white-space: pre-wrap;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
    display: none;
}

form {
    width: 100%;
    position: absolute;
    bottom: 20px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 2px 2px 2px 3px #009cf7b2;
    background: #ffffff;

    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 30px;
}

textarea {
    width: 100%;
    overflow-y: hidden;

    color: #368bda;
    font-size: 18px;

    padding: 10px;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
}

form img {
    width: 30px;
    height: 30px;
}

.preload {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.preload .title {
    text-align: center;
    font-size: 50px;
}

.preload .explain {
    margin-top: 30px;
    padding: 1.5rem 8rem 1.5rem 8rem;
    background-color: rgba(247, 247, 248, 0.7);
    box-shadow: 1px 1px 2px 2px #0e0e0e56;
    border-radius: 0.375rem;
    font-size: 20px;
}

.examples {
    margin-top: 30px;
}

.examples .title {
    margin-bottom: 30px;
    text-align: left;
    font-size: 30px;
}

.examples .item {
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-top: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.examples .item img {
    width: 20px;
    height: 20px;
}
.examples .item:hover {
    background-color: #eef3f7;
}

.bottom {
    width: 100%;
    height: 10rem;
    margin-top: auto;
}
